################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CollabAPIMEP/.vs/CollabAPIMEP/v17/.suo
