<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CollabAPIMEP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CollabAPIMEP.Properties.Settings>
            <setting name="AllowDWG" serializeAs="String">
                <value>False</value>
            </setting>
        </CollabAPIMEP.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="5.0.0.0" />
        <codeBase version="5.0.0.0" href="file:///C:/Users/arjan/source/repos/MEPAPI/FamilyAuditor/CollabAPIMEP/packages/Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="5.0.0.0" />
        <codeBase version="5.0.0.0" href="file:///C:/Users/arjan/source/repos/MEPAPI/FamilyAuditor/CollabAPIMEP/packages/Microsoft.Extensions.DependencyInjection.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>